@{
    ViewBag.Title = "Administracion";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>administracion</title>
</head>
<body>
    <div><br />
         <div class="row">
             <div class="col-md-4">
                 <h3>Crear Usuario</h3>
                 <form action="" target="_blank">
                     Usuario:<br>
                     <input type="text" name="firstname" value="Mickey">
                     <br>
                     Contraseña:<br>
                     <input type="text" name="lastname" value="Mouse">
                     <br><br>
                     <input type="submit" value="Guardar">
                 </form><br>
             </div>
             <div class="col-md-4">
                 <h3>Permisos de usuarios</h3>
                 <select>
                     <option value="volvo">Carlos Perez</option>
                     <option value="saab">Diana Rojas</option>
                     <option value="opel">Angie Reyes</option>
                     <option value="audi">Alejandro Castellanos</option>
                 </select>
                 <br><br>
                 <input type="checkbox" id="cbox1" value="first_checkbox"> Vender</label><br>
                 <input type="checkbox" id="cbox1" value="first_checkbox"> Listar Productos</label><br>
                 <input type="checkbox" id="cbox1" value="first_checkbox"> Administración</label><br>
                 <input type="checkbox" id="cbox1" value="first_checkbox"> Ordenes de venta</label><br>
                 <input type="checkbox" id="cbox1" value="first_checkbox"> Registrar productos</label><br><br>
             </div>
             <div class="col-md-4">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus placeat sequi minus vero velit beatae nobis soluta commodi rerum, harum, voluptatibus. Iste obcaecati itaque vel quaerat, cumque veritatis corporis? Aspernatur corporis sed hic dignissimos, quo rem, veritatis officiis labore autem!
             </div>
         </div>
    </div>
</body>
</html>
