@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EMPRESA DE PUBLICIDAD</h1>
    <p class="lead">Bienvenidos a nuestra tienda online.</p>
    <p><a href="t" class="btn btn-primary btn-lg">Ver</a></p>
</div>