@{
    ViewBag.Title = "Registrar Material";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar_material</title>
</head>
<body>
    <div>
        <br />
        <center>
            <h3>Registrar material</h3>
            <form action="">
                Nombre materia:<br>
                <input type="text" name="" value="">
                <br>
                cantidad:<br>
                <input type="number" name="" value="">
                <br>
                Precio de compra:<br>
                <input type="text" name="" value="">
                <br>
                Precio de venta:<br>
                <input type="text" name="" value="">
                <br>
                <br>
                Fecha:<br>
                <input type="date" name="" value="">
                <br>
                Imagen:<br>
                <input type="file" name="" value="">
                <br><br>
                <input type="submit" value="Guardar">
            </form>
        </center>
    </div>
</body>
</html>
