@{
    ViewBag.Title = "Ventas";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ventas</title>
</head>
<body>
    <div>
        <br />
        <center>
            <h3>Lista de ventas del mes</h3>
            <table class="table table-hover table-condensed">
                <tr>
                    <th scope="col">Nombre producto</th>
                    <th scope="col">Precio unitario</th>
                    <th scope="col">Unidades</th>
                    <th scope="col">Subtotal</th>
                </tr>

                <tr>
                    <td>Esfero rojo</td>
                    <td>192.000</td>
                    <td>1</td>
                    <td>192.02</td>
                </tr>

                <tr>
                    <td>Carta de presentación</td>
                    <td>250.000</td>
                    <td>5</td>
                    <td>12.50</td>
                </tr>

                <tr>
                    <td>Volantes</td>
                    <td>129.900</td>
                    <td>1</td>
                    <td>12.99</td>
                </tr>

                <tr>
                    <th scope="row" colspan="2">TOTAL</th>
                    <td>7</td>
                    <td><strong>407.510</strong></td>
                </tr>
            </table>
        </center>
    </div>
</body>
</html>
